<!doctype html>
<html lang="en">
  <head>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../static/assets/img/favicon.ico"
    />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/assets/css/main1.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link rel="stylesheet" href="../static/assets/css/fontawesome-all.min.css">
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <link rel="stylesheet" href="../static/assets/css/y1.css">

    <!-- CSS here -->
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="../static/assets/css/slicknav.css" />
    <link rel="stylesheet" href="../static/assets/css/flaticon.css" />
    <link rel="stylesheet" href="../static/assets/css/animate.min.css" />
    <link rel="stylesheet" href="../static/assets/css/magnific-popup.css" />
    <link
      rel="stylesheet"
      href="../static/assets/css/fontawesome-all.min.css"
    />
    <link rel="stylesheet" href="../static/assets/css/themify-icons.css" />
    <link rel="stylesheet" href="../static/assets/css/nice-select.css" />
    <link rel="stylesheet" href="../static/assets/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/assets/css/chart.css" />
    <link rel="stylesheet" href="../static/assets/css/style.css" />
    

  </head>
    <title>Resume project</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-mainbg">
        <a class="navbar-brand navbar-logo" href="#"><a href="/home"
          ><img
            src="../static/assets/img/logo/dataly-resetlogo-05-05.png"
            style="max-width: 300px"
            alt=""
        /></a></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars text-white"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
                <li class="nav-item">
                  <a class="nav-link" href="/home"><i class="fas fa-home"></i>Home</a>
              </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://in.indeed.com/"><i class="fas fa-tachometer-alt">Search For Jobs</i></a>
                </li>
                <!-- <li class="nav-item active">
                    <a class="nav-link" href="#hard-skills"><i class="fas fa-rocket"></i>Hard Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#soft-skills"><i class="far fa-clone"></i>Soft Skills</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="/analyse"><i class="fas fa-copy"></i>Resume Audit</a>
                </li>
                <li><a href="/logout">Logout</a></li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);"><i class="fas fa-user"></i>Our Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);"><i class="fas fa-phone"></i>Contact</a>
                </li> -->
            </ul>
        </div>
    </nav>
    </header>
    <br/>
    <br/>
  <div class="container" data-aos="zoom-in">
      <header class="main-header mh"  data-aos="zoom-in">
<!-- <div class="logo">
    <div class="row">
        <div class="mr-auto cul">
           <span class="re"> Reset Your Career</span></div>
        </div>
    </div> -->
    
      <div class="row btn-grp">
          <div class="buttons  bt">
            
            <!-- <button type="button" class="btn btn-primary">+ NEW SCAN</button>
            <button type="button" class="btn btn-primary bt1">HELP &#63; </button>         -->
          </div>
      </div>
    </header>
    <br/>
    <br/>
    <br/>
    <header>
      <style>
        .slicknav_menu {
          margin-top: 16px !important;
        }
        .header-area .slicknav_btn {
          top: -75px !important;
        }
      </style>
    <section class="box-div bd row container"  data-aos="zoom-in">
        
       <div class="left-side">
        <div class="row">
            <div class="ml-auto">
             <div class="texter">
                 Resume Match Score
             </div>
             <section>
                <div class="circle-wrap">
                  <div class="circle">
                    <div class="mask full">
                      <div class="fill"></div>
                    </div>
                    <div class="mask half">
                      <div class="fill"></div>
                    </div>
                    <div class="inside-circle"> {{matcc}} </div>
                  </div>
                </div>
              </section>
            </div> 
        </div>
       </div>
       <div class="right-side"  data-aos="zoom-in">
           <div class="row">
               <div class="col-md-9">
                   <div class="head-1"  data-aos="zoom-in">Your Results</div>
                   <div class="max-res">{{matcc}} out of 100%</div>
                   <br/>
                   {% if matcc > 80 %}
                   <div class="main-text">Your Current resume is a good match for this role. We recommend you to apply with the same resume. </div>
                   {% elif matcc > 60 and matcc < 80 %}
                   <div class="main-text">Your Current resume is not a good match for this role. We do not recommend you to apply with the same resume. Scroll down to see our recommendations to improve it.</div>
                   {% else %}
                   <div class="main-text">Your Current resume is not a good match for this role. We do not recommend you to apply with the same resume. Please use our Resume Analyzer to further optimize your resume.</div>
                   {% endif %}
                   <br/>
                   <br/>
                 
               </div>
           </div>

       </div>
    </section>
    <section class="boxes"  data-aos="zoom-in">
    <!-- <div class="row">
        <div class="mx-auto">
            <div class="box-1"  data-aos="zoom-in"> 
                <div class="progress-1">
                    <div class="ats">ATS Skill Match</div>
                <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                      <span class="mx-auto">60%</span>
                    </div>
                  </div> 
                  <div class="text-2"  data-aos="zoom-in">
                      Average ATS best Practice score (70%)
                      <br/>
                  </div>
                </div>                  
            </div>
            <div class="box-1"  data-aos="zoom-in">   
                <div class="progress-1"  data-aos="zoom-in">
                    <div class="ats">ATS Skill Match</div>
                <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                      <span class="">60%</span>
                    </div>
                  </div> 
                  <div class="text-2">
                      Average ATS best Practice score (70%)
                  </div>
                </div>          
            </div>
            <div class="box-1"  data-aos="zoom-in">   
                <div class="progress-1">
                    <div class="ats">ATS Skill Match</div>
                <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                      <span class="">60%</span>
                    </div>
                  </div> 
                  <div class="text-2"  data-aos="zoom-in">
                      Average ATS best Practice score (70%)
                  </div>
                </div>          
            </div>
            <div class="box-1"  data-aos="zoom-in">  
                <div class="progress-1">
                    <div class="ats">ATS Skill Match</div>
                <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                      <span class="">60%</span>
                    </div>
                  </div> 
                  <div class="text-2">
                      Average ATS best Practice score (70%)
                  </div>
                </div>           
            </div>
        </div>
        <div class="box-2 row"  data-aos="zoom-in">
            <div class="progress-1 mx-auto"  data-aos="zoom-in">
                <div class="ats"  data-aos="zoom-in">ATS Skill Match
                    <div class="ats-text"  data-aos="zoom-in">
                        Your resume scored 22% which is 36% worst than the average of candidates using Resymatch.
                    </div>
                </div>
                <div class="progress"  data-aos="zoom-in">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 70%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
              <div class="text-2"  data-aos="zoom-in">
                  Average ATS best Practice score (70%)
                  <br/>
              </div>
            </div>
        </div>
        
    </div> -->
  
<div class="section-3"  data-aos="zoom-in">
  <section class="container row">
      <div class="sidenav"  data-aos="zoom-in" style="height: 40vh;">
          <a href="#best-practices">ATS Best Practices</a>
          <a href="#hard-skills">Hard Skills Match</a>
          <a href="#soft-skills">Soft Skills Match</a>
          <!-- <a href="#sales-index">Sales Index</a> -->
        </div>
  </section>
  <section class="mid-sec" id="best-practices" data-aos="zoom-in" >
      <div class="middle-2">
        <div class="row"  data-aos="zoom-in">
          <div class="mx-auto">
            <div class="title">
               <h2><strong>ATS Best Practices</strong></h2> 
            </div>
          </div>
          <div class="ml-auto"  data-aos="zoom-in">
             <div class="progress-1 " style="margin-top: 4.5vh;">          
             <div class="progress">
                 <div class="progress-bar bg-danger"  data-aos="zoom-in" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:{{scor}}%">              
                 </div>            
               </div> 
               <span class="mx-auto">{{scor}}%</span>
             </div> 
         </div>
      </div>
     </div>
     </section>
     <section class="check-box row"  data-aos="zoom-in">
         <div class="container tab-1 mx-auto">
             <table class="table"  data-aos="zoom-in">
               <thead>
                <tr>
                  <td style="color: white;">xysss</td>
                  <td>Resume
                     File Type</td>
                  {% if typee == 0 %}
                  <td><img src="https://img.icons8.com/color/25/000000/delete-sign.png" alt=""></td>
                  <td>Your resume is a PDF File which is not ATS friendly, we recommend you to try DOCX file type.</td>
                  {% else %}
                  <td><img src="https://img.icons8.com/color/25/000000/checkmark.png" alt=""></td>
                  <td>Your resume is a DOCX File which can be easily scanned, as it is ATS friendly.</td>
                  {% endif %}

                </tr>
               </thead>
               <tbody>
                <tr>
                  <td style="color: white;">xysss</td>
                  <td>Email Address</td>
                  {% if emailid == 0 %}
                  <td><img src="https://img.icons8.com/color/25/000000/delete-sign.png" alt=""></td>
                  <td>We did not find any Email in your Resume.</td>
                  {% else %}
                  <td><img src="https://img.icons8.com/color/25/000000/checkmark.png" alt=""></td>
                  <td>We did find an Email Address in your Profile.</td>
                  {% endif %}
                </tr>
                <tr>
                  <td style="color: white;">xysss</td>
                  <td>Phone Number</td>
                  {% if phonenumber == 0 %}
                  <td><img src="https://img.icons8.com/color/25/000000/delete-sign.png" alt=""></td>
                  <td>Please enter a valid Phone Number.</td>
                  {% else %}
                  <td><img src="https://img.icons8.com/color/25/000000/checkmark.png" alt=""></td>
                  <td>We did find a Phone Number in your Profile.</td>
                  {% endif %}
                </tr>
                <!-- <tr>
                  <td style="color: white;">xysss</td>
                  <td>LinkedIn Profile</td>
                  {% if linkedin == 0 %}
                  <td><img src="https://img.icons8.com/color/25/000000/delete-sign.png" alt=""></td>
                  <td>We Did not find any link to your linkedin Account or it is not in the proper format. The proper format should be https://linkedin.com/in/username</td>
                  {% else %}
                  <td><img src="https://img.icons8.com/color/25/000000/checkmark.png" alt=""></td>
                  <td>We did find a link to your LinkedIn Account in your Profile.</td>
                  {% endif %}
                </tr>
                
                  <tr>
                    <td style="color: white;">xysss</td>
                    <td>Education Match</td>
                    {% if c_l|length != 0 %}
                    <td><img src="https://img.icons8.com/color/25/000000/delete-sign.png" alt=""></td>
                    <td>Your educational qualification shows slight/no relevance with the Job Proflie.</td>
                    {% else %}
                  <td><img src="https://img.icons8.com/color/25/000000/checkmark.png" alt=""></td>
                  <td>Your educational qualification shows relevance with the Job Proflie.</td>
                  {% endif %}
                  </tr>
                  <tr>
                    <td style="color: white;">xysss</td>
                    <td>Section Headings</td>
                    {% if results|length == 0 %}
                    <td><img src="https://img.icons8.com/color/25/000000/delete-sign.png" alt=""></td>
                    <td>Headings have not been provided.</td>
                    {% else %}
                  <td><img src="https://img.icons8.com/color/25/000000/checkmark.png" alt=""></td>
                  <td>Headings have been provided.</td>
                  {% endif %}
                  </tr>
                  <tr>
                    <td style="color: white;">xysss</td>
                    <td>Date Formatting</td>
                    {% if ed_correct_year == 1 %}
                    <td><img src="https://img.icons8.com/color/25/000000/delete-sign.png" alt=""></td>
                    <td>There may be a wrong date formatting in your resume.</td>
                    {% else %}
                    <td><img src="https://img.icons8.com/color/25/000000/checkmark.png" alt=""></td>
                    <td>There are correct date formatting in your resume.</td>
                    {% endif %}

                  </tr>
                  <tr>
                    <td style="color: white;">xysss</td>
                    <td>Word Count</td>
                    {% for key, values in results.items() %} {% if 'wordcount' in key.lower() %} {% if values <= 600 and values > 1 %}
                      <td><img src="https://img.icons8.com/color/25/000000/checkmark.png" alt=""></td>
                      <td>Your Resume has {{ values }} words which is optimal.</td>
                      {% else %}
                      <td><img src="https://img.icons8.com/color/25/000000/delete-sign.png" alt=""></td>
                      <td>Your Resume has {{ values }} words which is not optimal.</td>
                      {% endif %}{% endif %}{% endfor %}
  
                  </tr>
                  <tr>
                    <td style="color: white;">xysss</td>
                      <td>Measureable Results</td>
                      {% if quat == 1 %}
                     
                      <td><img src="https://img.icons8.com/color/25/000000/checkmark.png" alt=""></td>
                      <td>Your Resume contains instances of measurable metrics.</td>
                      {% else %}
                      <td><img src="https://img.icons8.com/color/25/000000/delete-sign.png" alt=""></td>
                      <td>Your Resume contains 0 instances of measurable metrics.</td>
                      {% endif %}
  
                    </tr>
                    <tr >
                      <td style="color: white;">xysss</td>
                      <td>Action Verbs</td>
                      {% if act_msg == 1 %}
                      <td><img src="https://img.icons8.com/color/25/000000/checkmark.png" alt=""></td>
                      <td>Your Resume has strong mix of action/power words.</td>
                      {% else %}
                      <td><img src="https://img.icons8.com/color/25/000000/delete-sign.png" alt=""></td>
                      <td>Your Resume has inadequate or no action/power words.</td>
                      {% endif %}
  
                    </tr> 
                    <tr>
                     
                      <td style="color: white;">xysss</td>
                      <td>Buzzwords</td>
                      {% if fct_msg == 0 %}
                      <td><img src="https://img.icons8.com/color/25/000000/checkmark.png" alt=""></td>
                      <td>Your Resume does not have any cliches and buzzwords.</td>
                      {% else %}
                      <td><img src="https://img.icons8.com/color/25/000000/delete-sign.png" alt=""></td>
                      <td>Your Resume contains cliches and buzzwords.</td>
                      {% endif %}
  
                    </tr> -->
               </tbody>
             </table>
           </div>
     </section>
     
</div>
<br/>
<br/>
    <div class="section-3"  data-aos="zoom-in" style="margin-bottom: 70px;">
    <section class="container row">
        <div class="sidenav"  data-aos="zoom-in" style="height: 50vh;">
            <a href="#best-practices">ATS Best Practices</a>
            <a href="#hard-skills">Hard Skills Match</a>
            <a href="#soft-skills">Soft Skills Match</a>
            <!-- <a href="#sales-index">Sales Index</a> -->
          </div>
    </section>
    <section class="mid-sec" id="hard-skills"  data-aos="zoom-in">
        <div class="middle-2"  data-aos="zoom-in">
     <div class="row">
         <div class="mx-auto">
           <div class="title"  data-aos="zoom-in">
              <h2><strong>Hard Skills Match</strong></h2>    
           </div>
         </div>
         <!-- <div class="mx-auto">
           <div class="suggest"  data-aos="zoom-in">
               <a href="#"><u>A negative skill gap indicates you have more skills that those asked which may or may not be relevant to the given JD</u></a>
           </div>
         </div> -->
         <div class="mx-auto">
            <!-- <div class="show-cld-btn">
                <button class="btn btn-danger"  data-aos="zoom-in">Show Wordcloud</button>
            </div> -->
          </div>
         <div class="ml-auto">
            <div class="progress-1" style="margin-top: 4.5vh;">          
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:{{matcc}}%">              
                </div>            
              </div> 
              <span class="mx-auto"  data-aos="zoom-in">{{matcc}}%</span>
            </div> 
        </div>
     </div>
    </div>
    </section>
    <section class="check-box row">
        <div class="container mx-auto">
            <table class="table"  data-aos="zoom-in">
              <thead  data-aos="zoom-in">
                <tr>
                    <td><strong>Skill</strong></td>
                    <td><strong>Resume</strong></td>
                    <td><strong>Job Description</strong></td>
                    <td><strong>Skill Gap</strong></td>
                  </tr>
              </thead>
              <tbody>
                <td>Hardskills</td>
                <td>{{ matching_hs[0]|length }}</td>
                <td>{{ matching_hs[1]|length }}</td>
                <td>{{ matching_hs[1]|length - matching_hs[0]|length }}</td>
              </tr>
           
              <tr>
                <td style="color: white;">Hardskills</td>
                <td style="color: white;">{{ matching_hs[0]|length }}</td>
                <td style="color: white;">{{ matching_hs[1]|length }}</td>
                <td style="color: white;">{{ matching_hs[1]|length - matching_hs[0]|length }}</td>
              </tr>
              
              
              </tbody>
              <div class="container mx-auto">
                <table class="table"  data-aos="zoom-in">
                  <thead  data-aos="zoom-in"> 
                    <tr>
                      <td style="color: white;"><strong>HardSkills</strong></td>
                      
                      <td style="color: white;"><strong>HardSkills</strong></td>
                      <td><strong>A negative skill gap indicates you have more number of hard skills than those required which may or may not be relevant to the JD. A positive skill gap Indicates that the JD has some hard skills which are missing from your Resume</strong></td>
                      
                    </tr>  
                    
                    <!-- <tr>
                      <td style="color: white;"><strong>HardSkills</strong></td>
                      
                      <td><strong>HardSkills</strong></td>
                      <td><strong> Words </strong></td>
                      
                    </tr>   -->
                  </thead>
                  <tbody>
      
                    <!-- <tr>
                      <td style="color: white;">{{ matching_hs[0]|length }}</td>
                      <td>Hardskills in Resume</td>
                      <td>
                        {% for value in matching_hs[0] %}
                        {{value}}, 
                        
                        {% endfor %}
      
      
                      </td> -->
                      
                      <!-- <td>{{ matching_hs[0]|length - matching_hs[1]|length }}</td> -->
                    <!-- </tr>    
                    <tr>
                      <td style="color: white;">{{ matching_hs[1]|length }}</td>
                      <td>Hardskills in JD</td>
                      <td> {% for value in matching_hs[1] %}
                        {{value}}, 
                        
                        {% endfor %}
                      </td> -->
                      <!-- <td>{{ matching_hs[0]|length - matching_hs[1]|length }}</td> -->
                    <!-- </tr>    
                    <tr>
                      <td style="color: white;">{{ matching_hs[0]|length }}</td>
                      <td>Common Hardskills</td>
                      <td> {% for value in matching_hs[2] %}
                        {{value}}, 
                        
                        {% endfor %}
                      </td> -->
                      <!-- <td>{{ matching_hs[0]|length - matching_hs[1]|length }}</td> -->
                    <!-- </tr>                                     -->
                    </tbody>
                  </table>
                </div>

            
    </section>
</div>
<br>
<br>
<br>
<br>

<!-- <div class="section-3"  data-aos="zoom-in">
  <section class="container row">
      <div class="sidenav"  data-aos="zoom-in" style="height: 100vh;">
          <a href="#best-practices">ATS Best Practices</a>
          <a href="#hard-skills">Hard Skills Match</a>
          <a href="#soft-skills">Soft Skills Match</a> -->
          <!-- <a href="#sales-index">Sales Index</a> -->
        <!-- </div>
  </section>
  <section class="mid-sec" id="soft-skills"  data-aos="zoom-in">
      <div class="middle-2"  data-aos="zoom-in">
   <div class="row">
       <div class="mx-auto">
         <div class="title"  data-aos="zoom-in">
            <h2><strong>Soft Skills Match</strong></h2>    
         </div>
       </div>
       <div class="mx-auto"> -->
         <!-- <div class="suggest"  data-aos="zoom-in">
             <a href="#"><u>Suggest New Keyword</u></a>
         </div> -->
       <!-- </div>
       <div class="mx-auto"> -->
          <!-- <div class="show-cld-btn">
              <button class="btn btn-danger"  data-aos="zoom-in">Show Wordcloud</button>
          </div> -->
        <!-- </div>
       <div class="ml-auto">
          <div class="progress-1" style="margin-top: 4.5vh;">          
          <div class="progress">
              <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:{{ss_score}}%">              
              </div>            
            </div> 
            <span class="mx-auto"  data-aos="zoom-in">{{ss_score}}%</span>
          </div> 
      </div>
   </div>
  </div>
  </section>
  <section class="check-box row">
      <div class="container mx-auto">
          <table class="table"  data-aos="zoom-in">
            <thead  data-aos="zoom-in">
              <tr>
                  <td><strong>Skill</strong></td>
                  <td><strong>Resume</strong></td>
                  <td><strong>Job Description</strong></td>
                  <td><strong>Skill Gap</strong></td>
                </tr>
            </thead>
            <tbody>
              {% for key,value in match_dict_jd.items() %}
                  <tr>
                    <td>{{ key.upper() }}</td>
                    <td>{{ value[0]|length }}</td>
                    <td>{{ value[1]|length }}</td>
                    <td>{{ value[1]|length - value[0]|length }}</td>
                  </tr>
                  {% endfor %}
            </tr>
         
            <tr>
              <td style="color: white;">Softskills</td>
              <td style="color: white;">{{ matching_hs[0]|length }}</td>
              <td style="color: white;">{{ matching_hs[1]|length }}</td>
              <td style="color: white;">{{ matching_hs[1]|length - matching_hs[0]|length }}</td>
            </tr>                     
            </tbody>
            <div class="container mx-auto">
              <table class="table"  data-aos="zoom-in">
                <thead  data-aos="zoom-in"> 
                  
                  <tr>
                    <td style="color: white;"><strong>HardSkills</strong></td>
                    
                    <td style="color: white;"><strong>HardSkills</strong></td>
                    <td><strong>A negative skill gap indicates you have more number of soft skills than those required which may or may not be relevant to the JD. A positive skill gap Indicates that the JD has some soft skills which are missing from your Resume</strong></td>
                    
                  </tr>
                  <tr>
                    <td style="color: white;"><strong>HardSkills</strong></td>
                    
                    <td><strong>SoftSkills</strong></td>
                <td><strong> Words </strong></td>
                    
                  </tr>  
                </thead> -->
                <!-- <tbody>
    
                  <tr>
                    <td style="color: white;">{{ matching_hs[0]|length }}</td>
                  <td>Softskills in Resume</td>
                  <td>
                    {% for value in ss_list[0] %}
                    {{value}}, 
                    
                    {% endfor %}
  
  
                </td> -->
    
                    
                    
                    <!-- <td>{{ matching_hs[0]|length - matching_hs[1]|length }}</td> -->
                  <!-- </tr>    
                  <tr>
                    <td style="color: white;">{{ matching_hs[0]|length }}</td>
                    <td>Softskills in JD</td>
                    <td>
                      {% for value in ss_list[1] %}
                      {{value}}, 
                      
                      {% endfor %}
                  </td> -->
                    <!-- <td>{{ matching_hs[0]|length - matching_hs[1]|length }}</td> -->
                  <!-- </tr>    
                  <tr>
                    <td style="color: white;">{{ matching_hs[0]|length }}</td>
                    <td>Common Softskills</td>
                    <td>
                      {% for value in ss_list[2] %}
                      {{value}}, 
                      
                      {% endfor %}
                  </td> -->
                    <!-- <td>{{ matching_hs[0]|length - matching_hs[1]|length }}</td> -->
                  <!-- </tr>                                    
                  </tbody>
                </table> -->
              <!-- </div>
            

          
  </section>
</div> -->
<br>
<br>
<br>
<br>
<div class="row btn-grp">
  <div class="buttons  bt">
    <button type="button" class="btn btn-primary" id="btnn">Signup to Get a detailed review</button>
    
    <!-- <button type="button" class="btn btn-primary">+ NEW SCAN</button>
    <button type="button" class="btn btn-primary bt1">HELP &#63; </button>         -->
  </div>
</div>
<script type="text/javascript">
  document.getElementById("btnn").onclick = function () {
      location.href = "/login";
  };
</script>


<!-- <div class="section-3"  data-aos="zoom-in" style="background-color: #EEEEEE;">
  <div class="row">
    <div class="col-6" >
      <div class="services-wrapper mb-50" style="padding: 5px;"> -->
<!--         
          <h2 style="padding:20px 200px 50px ;"><b>Competencies</b></h2>
          <p style="padding:0 10px 0 100px;">Competencies – defined as the ability to do a critical task in an effective
            manner at the workplace.</p>             -->
          <!-- <table class="table">
            <thead>
              <tr>
                <td><b>Analytical Skills</b></th>
                
                <td style="padding-right: 60px;">ability to analyse problems,
                  identify root cause and identify solutions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><b>Communication Skills</b></td>
                
                <td style="padding-right: 60px;">ability to effectively
                  articulate your messages by using, verbal or
                  written communication.</td>
              </tr>
              <tr>
                <td><b>Leadership skills</b></td>
               
                <td style="padding-right: 60px;">ability to engage and lead
                  teams to deliver impactful results.</td>
              </tr>
              <tr>
                <td><b>Collaboration</b></td>
                
                <td style="padding-right: 60px;">ability to work with other
                  teams / individual in a collaborative manner to
                  achieve a common goal.</td>
              </tr>
              <tr>
                <td><b>Innovation</b></td>
                
                <td style="padding-right: 60px;">ability to solve problems in an
                  innovative / non – conventional manner.</td>
              </tr>
            </tbody>
          </table>
        
        
      </div>
    </div> -->
  <!-- <div class="col-6" >
    <div class="services-wrapper mb-50">
      <figure class="highcharts-figure">
        <div id="container"></div> -->
        <!-- <p class="highcharts-description">
            A basic column chart compares rainfall values between four cities.
            Tokyo has the overall highest amount of rainfall, followed by New York.
            The chart is making use of the axis crosshair feature, to highlight
            months as they are hovered over.
        </p> -->
    <!-- </figure>
    </div>
  </div>
</div> -->
<!-- </div> -->
<br>
<br>
<br>
    <!-- <section class="container row"  data-aos="zoom-in">
        <div class="sidenav" data-aos="zoom-in" style="margin-top: 15vh;">
            <a href="#best-practices">ATS Best Practices</a>
            <a href="#hard-skills">Hard Skills Match</a>
            <a href="#soft-skills">Soft Skills Match</a> -->
            <!-- <a href="#sales-index">Sales Index</a> -->
          <!-- </div>
    </section> -->
    <!-- <section class="mid-sec" id="soft-skills" style="margin-top: 15vh;">
        <div class="middle-2"  data-aos="zoom-in">
     <div class="row">
         <div class="mx-auto">
           <div class="title">
              <h2><strong>Soft Skills Match</strong></h2>    
           </div>
         </div>
         <div class="mx-auto"> -->
           <!-- <div class="suggest"  data-aos="zoom-in">
               <a href="#"><u>Suggest New Keyword</u></a>
           </div> -->
         <!-- </div>
         <div class="mx-auto"> -->
            <!-- <div class="show-cld-btn">
                <button class="btn btn-danger"  data-aos="zoom-in">Show Wordcloud</button>
            </div> -->
          <!-- </div>
         <div class="ml-auto">
            <div class="progress-1" style="margin-top: 4.5vh;">          
            <div class="progress">
                <div class="progress-bar bg-danger"  data-aos="zoom-in" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:{{ss_score}}%">              
                </div>            
              </div> 
              <span class="mx-auto">{{ss_score}}%</span>
            </div> 
        </div>
     </div>
    </div>
    </section>
    <section class="check-box row"  data-aos="zoom-in">
        <div class="container mx-auto">
            <table class="table">
              <thead>
                <tr>
                  <td><strong>Skill</strong></td>
                  <td><strong>Resume</strong></td>
                  <td><strong>Job Description</strong></td>
                  <td><strong>Skill Gap</strong></td>
                </tr>
            </thead>
            <tbody>
              
                {% for key,value in match_dict_jd.items() %}
                  <tr>
                    <td>{{ key.upper() }}</td>
                    <td>{{ value[0]|length }}</td>
                    <td>{{ value[1]|length }}</td>
                    <td>{{ value[1]|length - value[0]|length }}</td>
                  </tr>
                  {% endfor %}
              
           
              <tr>
                <td style="color: white;">Softskills</td>
                <td style="color: white;">{{ matching_hs[0]|length }}</td>
                <td style="color: white;">{{ matching_hs[1]|length }}</td>
                <td style="color: white;">{{ matching_hs[1]|length - matching_hs[0]|length }}</td>
              </tr>  
            </tbody>
          </table>
        </div>
        <div class="container mx-auto">
          <table class="table"  data-aos="zoom-in">
            <thead  data-aos="zoom-in">  
              <tr>
                <td style="color: white;"><strong>SoftSkills</strong></td>
                
                <td><strong>SoftSkills</strong></td>
                <td><strong> Words </strong></td>
                
              </tr>  
            </thead>
            <tbody>
  
              <tr>
                <td style="color: white;">{{ matching_hs[0]|length }}</td>
                  <td>Softskills in Resume</td>
                  <td>
                    {% for value in ss_list[0] %}
                    {{value}}, 
                    
                    {% endfor %}
  
  
                </td>
                 -->
                <!-- <td>{{ matching_hs[0]|length - matching_hs[1]|length }}</td> -->
              <!-- </tr>    
              <tr>
                <td style="color: white;">{{ matching_hs[0]|length }}</td>
                  <td>Softskills in JD</td>
                  <td>
                    {% for value in ss_list[1] %}
                    {{value}}, 
                    
                    {% endfor %}
                </td> -->
                <!-- <td>{{ matching_hs[0]|length - matching_hs[1]|length }}</td> -->
              <!-- </tr>    
              <tr>
                <td style="color: white;">{{ matching_hs[0]|length }}</td>
                  <td>Common Softskills</td>
                  <td>
                    {% for value in ss_list[2] %}
                    {{value}}, 
                    
                    {% endfor %}</div>
                    <div class="ml-auto">
                       <div class="progress-1" style="margin-top: 4.5vh;">          
                       <div class="progress">
                           <div class="progress-bar bg-danger"  data-aos="zoom-in" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:{{ss_score}}%">              
                           </div>            
                         </div> 
                         <span class="mx-auto">{{ss_score}}%</span>
                       </div> 
                   </div>
                </div>
               </div>
               </section>
               <section class="check-box row"  data-aos="zoom-in">
                   <div class="container mx-auto">
                       <table class="table">
                         <thead>
                           <tr>
                             <td><strong>Skill</strong></td>
                             <td><strong>Resume</strong></td>
                             <td><strong>Job Description</strong></td>
                             <td><strong>Skill Gap</strong></td>
                           </tr>
                       </thead>
                       <tbody>
                         
                           {% for key,value in match_dict_jd.items() %}
                             <tr>
                               <td>{{ key.upper() }}</td>
                               <td>{{ value[0]|length }}</td>
                               <td>{{ value[1]|length }}</td>
                               <td>{{ value[1]|length - value[0]|length }}</td>
                             </tr>
                             {% endfor %}
                         
                      
                         <tr>
                           <td style="color: white;">Softskills</td>
                           <td style="color: white;">{{ matching_hs[0]|length }}</td>
                           <td style="color: white;">{{ matching_hs[1]|length }}</td>
                           <td style="color: white;">{{ matching_hs[1]|length - matching_hs[0]|length }}</td>
                         </tr>  
                       </tbody>
                     </table>
                   </div>
                   <div class="container mx-auto">
                     <table class="table"  data-aos="zoom-in">
                       <thead  data-aos="zoom-in">  
                         <tr>
                           <td style="color: white;"><strong>SoftSkills</strong></td>
                           
                           <td><strong>SoftSkills</strong></td>
                           <td><strong> Words </strong></td>
                           
                         </tr>  
                       </thead>
                       <tbody>
             
                         <tr>
                           <td style="color: white;">{{ matching_hs[0]|length }}</td>
                             <td>Softskills in Resume</td>
                             <td>
                               {% for value in ss_list[0] %}
                               {{value}}, 
                               
                               {% endfor %}
             
             
                           </td> -->
                           
                           <!-- <td>{{ matching_hs[0]|length - matching_hs[1]|length }}</td> -->
                         <!-- </tr>    
                         <tr>
                           <td style="color: white;">{{ matching_hs[0]|length }}</td>
                             <td>Softskills in JD</td>
                             <td>
                               {% for value in ss_list[1] %}
                               {{value}}, 
                               
                               {% endfor %}
                           </td> -->
           
                <!-- </td> -->
                <!-- <td>{{ matching_hs[0]|length - matching_hs[1]|length }}</td> -->
              <!-- </tr>                                    
              </tbody>
            </table>
          </div>
    </section> -->

<!--Sales Index-->
<!-- <div class="section-3"  data-aos="zoom-in">
    <section class="container row">
        <div class="sidenav"  data-aos="zoom-in" style="margin-top: 15vh;">
            <a href="#best-practices">ATS Best Practices</a>
            <a href="#hard-skills">Hard Skills Match</a>
            <a href="#soft-skills">Soft Skills Match</a>
            <a href="#sales-index">Sales Index</a>
          </div>
    </section>
    <section class="mid-sec" id="sales-index" data-aos="zoom-in" style="margin-top: 15vh;">
        <div class="middle-2">
     <div class="row">
         <div class="mx-auto">
           <div class="title"  data-aos="zoom-in">
              <h2><strong>Sales Index</strong></h2>    
           </div>
         </div>
         <div class="ml-auto">
            <div class="progress-1"  data-aos="zoom-in" style="margin-top: 4.5vh;">          
            <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:30%">              
                </div>            
              </div> 
              <span class="mx-auto"  data-aos="zoom-in">30%</span>
            </div> 
        </div>
     </div>
    </div>
    </section>
    <section class="check-box row">
        <div class="container mx-auto">
            <div class="section-4">
            <table class="table"  data-aos="zoom-in">
              <tbody>
                <tr>
                  <td>Word Count</td>
                    <td><img src="https://img.icons8.com/color/25/000000/delete-sign.png"/></td>
                    <td>Your Resume has 376 words which is less than the minimum recommender 400.</td>
                </tr>
                <tr>
                    <td>Measureable Results</td>
                   
                    <td><img src="https://img.icons8.com/color/25/000000/delete-sign.png"/></td>
                    <td>Your Resume contains 0 instances of measurable metrics.</td>
                  </tr>
                  <tr>
                    <td>Action Verbs</td>
                    <td><img src="https://img.icons8.com/color/25/000000/checkmark.png"/></td>
                    <td>Your Resume has strong mix of action/power Words.</td>
                  </tr> 
                  <tr>
                    <td style="margin-left: 2vw;">Cliches & Buzzwords</td>
                    <td><img src="https://img.icons8.com/color/25/000000/checkmark.png"/></td>
                    <td>Your Resume does not have any cliches and buzzwords.</td>
                  </tr>                                       
              </tbody>
            </table>
        </div>
          </div>
    </section>
</div> -->
<!-- <section class="last-section"  data-aos="zoom-in">
  <header class="main-header mh"  data-aos="zoom-in">
<div class="logo">
    <div class="row">
        <div class="mr-auto cul1">
          <span class="re"> Reset Your Career</span></div>
        </div>
    </div>
    
      <div class="row btn-grp">
          <div class="buttons  bt">
            <button type="button" class=" btn btn-danger">+ NEW RESUME</button>
            <button type="button" class="btn btn-primary">+ NEW SCAN</button>
            <button type="button" class="btn btn-primary bt1">HELP &#63; </button>        
          </div>
      </div>
    </header>
            <br/>
            <br/> 
            <div class="row"  data-aos="zoom-in">
                <div class="mx-auto">
                    <h2><<script>
      console.log(document.getElementById("id1").getAttribute("name"));
      Highcharts.chart('container', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Cricical Competencies'
    },
    subtitle: {
        text: ''
    },
    xAxis: {
        categories: '{{keys_chart}}',
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Measure of Competencies'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [{
        name: 'Resume',
        data: '{{values_chart}}'

    }, {
        name: 'JD',
        data: '{{values1_chart}}'

    },]
});
    </script>strong><div style = "text-align: center;">ResyBullet.io</div></strong></h2>
                    <div class="mx-auto high"><h1><strong><span style="color: cornflowerblue;">100% Free</span> Resume Bullet Analyzer</strong></h1></div>
                    <h4 style="text-align: center;"><strong>Learn to write crazy effective resume bullets that grabs<br/> attention, illustrate the values and actually gets the result.</strong></h4>
                    <br/>
                    <div style="text-align: center">
                        <h5 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif,">Copy and Paste your resume bullet to start analysis.</h5>
                        <br/>
                        <div class="div-style">
                        <h4 class="strength"
                        style="text-align:right;color:grey;   width: 320px;
                        padding: 10px;
                        border: 1px solid gray;
                        margin: 0;"> Acknowledged for Strengthening</h4>
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <div style=" text-align: center;">
                    <button class="btn btn-danger">Click to Analyze!</button>
                </div>
                      </div>
                     
                      </div>
            </div>
</section> -->
<div id="id1" name="{{values_chart[0]}}" style="display: none;">

</div>
<div id="id2" name="{{values_chart[1]}}" style="display: none;">

</div>
<div id="id3" name="{{values_chart[2]}}" style="display: none;">

</div>
<div id="id4" name="{{values_chart[3]}}" style="display: none;">

</div>
<div id="id5" name="{{values_chart[4]}}" style="display: none;">

</div>
<div id="id6" name="{{values1_chart[0]}}" style="display: none;">

</div>
<div id="id7" name="{{values1_chart[1]}}" style="display: none;">

</div>
<div id="id8" name="{{values1_chart[2]}}" style="display: none;">

</div>
<div id="id9" name="{{values1_chart[3]}}" style="display: none;">

</div>
<div id="id10" name="{{values1_chart[4]}}" style="display: none;">

</div>
    </div>
    <footer style="background-color: #060e30">
      <!-- Footer Start-->
      <div class="footer-area">
        <div class="container">
          <div class="footer-top footer-padding">
            <div class="row justify-content-between">
              <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                <div class="single-footer-caption mb-50">
                  <div class="single-footer-caption mb-30">
                    <!-- logo -->
                    <div class="footer-logo">
                      <a href="/home"
                        ><img
                          src="/static/assets/img/logo/dataly-resetlogo-05-05.png"
                          style="max-width: 300px"
                          alt=""
                      /></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                <div class="single-footer-caption mb-50">
                  <div class="footer-tittle">
                    <h4>Our Assistance</h4>
                    <ul>
                      <li><a href="/analyse">Resume Analysis</a></li>
                      <li><a href="/jd">Career Guidance</a></li>
                      <li><a href="#service">Self Development tools</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <div class="single-footer-caption mb-50">
                  <div class="footer-tittle">
                    <h4>Quick Link</h4>
                    <ul>
                      <li><a href="/contact">Contact Us</a></li>
                      <li><a href="/about">What is Reset your Career</a></li>
                      <li><a href="#">Blogs</a></li>
                      <li><a href="#">Privacy Policy</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <div class="single-footer-caption mb-50">
                  <div class="footer-tittle">
                    <h4>E-mail</h4>
                    <ul>
                      <li><a href="#">amit@peoplelements.in</a></li>
                    </ul>
                    <!--<p>123 East 26th Street, Fifth Floor, New York, NY 10011</p>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-bottom">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col-xl-9 col-lg-9">
                <div class="footer-copy-right">
                  <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>
                      document.write(new Date().getFullYear());
                    </script>
                    All rights reserved
                    <!--| This template is made with
                    <i class="fa fa-heart" aria-hidden="true"></i> by
                    <a href="https://colorlib.com" target="_blank">Colorlib</a>-->
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  </p>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3">
                <!-- Footer Social -->
                <div class="footer-social f-right">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fas fa-globe"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer End-->
    </footer>
      <!-- Scroll Up -->
      <div id="back-top">
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
      </div>

  <script>
    // ---------Responsive-navbar-active-animation-----------
function test(){
  var tabsNewAnim = $('#navbarSupportedContent');
  var selectorNewAnim = $('#navbarSupportedContent').find('li').length;
  var activeItemNewAnim = tabsNewAnim.find('.active');
  var activeWidthNewAnimHeight = activeItemNewAnim.innerHeight();
  var activeWidthNewAnimWidth = activeItemNewAnim.innerWidth();
  var itemPosNewAnimTop = activeItemNewAnim.position();
  var itemPosNewAnimLeft = activeItemNewAnim.position();
  $(".hori-selector").css({
    "top":itemPosNewAnimTop.top + "px", 
    "left":itemPosNewAnimLeft.left + "px",
    "height": activeWidthNewAnimHeight + "px",
    "width": activeWidthNewAnimWidth + "px"
  });
  $("#navbarSupportedContent").on("click","li",function(e){
    $('#navbarSupportedContent ul li').removeClass("active");
    $(this).addClass('active');
    var activeWidthNewAnimHeight = $(this).innerHeight();
    var activeWidthNewAnimWidth = $(this).innerWidth();
    var itemPosNewAnimTop = $(this).position();
    var itemPosNewAnimLeft = $(this).position();
    $(".hori-selector").css({
      "top":itemPosNewAnimTop.top + "px", 
      "left":itemPosNewAnimLeft.left + "px",
      "height": activeWidthNewAnimHeight + "px",
      "width": activeWidthNewAnimWidth + "px"
    });
  });
}
$(document).ready(function(){
  setTimeout(function(){ test(); });
});
$(window).on('resize', function(){
  setTimeout(function(){ test(); }, 500);
});
$(".navbar-toggler").click(function(){
  setTimeout(function(){ test(); });
});
AOS.init();

  </script>
  <script>
    console.log(document.getElementById("id1").getAttribute("name"));
    Highcharts.chart('container', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Critical Competencies'
    },
    subtitle: {
        text: ''
    },
    xAxis: {
        categories: [
            'Analytical',
            'Communication',
            'Leadership',
            'Teamwork',
            'Initiative',
            
        ],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: ''
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.0f}</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [{
        name: 'Resume',
        data: [parseInt(document.getElementById("id1").getAttribute("name"),10),parseInt(document.getElementById("id2").getAttribute("name"),10),parseInt(document.getElementById("id3").getAttribute("name"),10),parseInt(document.getElementById("id4").getAttribute("name"),10),parseInt(document.getElementById("id5").getAttribute("name"),10)]

    }, {
        name: 'JD',
        data: [parseInt(document.getElementById("id6").getAttribute("name"),10),parseInt(document.getElementById("id7").getAttribute("name"),10),parseInt(document.getElementById("id8").getAttribute("name"),10),parseInt(document.getElementById("id9").getAttribute("name"),10),parseInt(document.getElementById("id10").getAttribute("name"),10)]

    },]
});
  </script>
  
  </body>
</html>