<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Resume Analyzer</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../static/assets/img/favicon.ico"
    />
    <link rel="stylesheet" href="../static/assets/css/y.css">
    <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <!-- CSS here -->
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="../static/assets/css/slicknav.css" />
    <link rel="stylesheet" href="../static/assets/css/animate.min.css" />
    <link rel="stylesheet" href="../static/assets/css/magnific-popup.css" />
    <link
      rel="stylesheet"
      href="../static/assets/css/fontawesome-all.min.css"
    />
    <link rel="stylesheet" href="../static/assets/css/themify-icons.css" />
    <link rel="stylesheet" href="../static/assets/css/slick.css" />
    <link rel="stylesheet" href="../static/assets/css/nice-select.css" />
    <link rel="stylesheet" href="../static/assets/css/style.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <!-- Title Page-->
    <title>Reset Your Career</title>

    <!-- Icons font CSS-->
    <link href="/static/assets/candidate_assets/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="/static/assets/candidate_assets/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="/static/assets/candidate_assets/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/static/assets/candidate_assets/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/static/assets/candidate_assets/css/main.css" rel="stylesheet" media="all">
   
    
  </head>

  <body>
    <!-- Preloader Start -->
    <div id="preloader-active">
      <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
          <div class="preloader-circle"></div>
          <div class="preloader-img pere-text">
            <img src="../static/assets/img/logo/head.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <!-- Preloader Start -->
    <header style="background-color: #010E21 !important;">
      <!-- Header Start -->
      <div class="header-area header_area header-transparent" style="background-color: #010E21 !important;"> 
        <div class="main-header">
          <div class="header-bottom header-sticky">
            <div class="container-fluid">
              <div class="row align-items-center">
                <!-- Logo -->
                <div class="col-xl-2 col-lg-1 col-md-1">
                  <div class="logo">
                    <a href="/home"
                      ><img src="../static/assets/img/logo/dataly-resetlogo-05-05.png" style="max-width:270px;" alt="reset-yout-career"
                    /></a>
                  </div>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-8">
                  <!-- Main-menu -->
                  <div class="main-menu f-right d-none d-lg-block">
                    <nav>
                      <ul id="navigation">
                        <li><a href="/home" style="padding-right: 150px;">Services</a>
                          <ul class="submenu">
                            <li><a href="/jd">Optimize Your Resume</a></li>
                            <li>
                              <a href="/analyse">Resume Review</a>
                            </li>
                            <li>
                              <a href="/blogdet3">Wheel of Life</a>
                            </li>
                            <li>
                              <a href="#">Personal Swot Analysis</a>
                            </li>
                            <li>
                              <a href="#">Career Coaching and Guidance</a>
                            </li>

                          </ul>
                        </li>
                        <li><a href="#" style="padding-right: 150px;">More</a>
                          <ul class="submenu">
                            <li><a href="#bblog">Blog</a></li>
                            <li>
                              <a href="#">Privacy</a>
                            </li>
                            <li>
                              <a href="#">Terms of Service</a>
                            </li>
                            <li>
                              <a href="/contact">Help Center</a>
                            </li>
                            <li>
                              <a href="/about">About Us</a>
                            </li>

                          </ul>
                        </li>
                      
                      <li>
                        <a href="/about">Login / Signup </a>
                        <ul class="submenu">
                          <li><a href="/signup">Signup (New User)</a></li>
                          <li><a href="/login">Login (Existing User)</a></li>
                      <!-- <li><a href="/signup">Signup</a></li> -->
                          <li><a href="/logout">Logout</a></li>

                        </ul>
                      </li>
                      </ul>
                    </nav>
                  </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-3">
                  <div class="header-right-btn f-right d-none d-lg-block">
                    <!-- <a href="#" class="btn header-btn">Contact Now</a> -->
                  </div>
                </div>
                <!-- Mobile Menu -->
                <div class="col-12">
                    <div class="mobile_menu d-block d-lg-none" style="margin-top:-35px"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Header End -->
    </header>
    <main>

      <style>
        .slicknav_menu {
          margin-top: 16px !important;
        }
        .header-area .slicknav_btn {
          top: -45px !important;
        }
      </style>

      <br><br>
      <!-- Hero Start-->
      <!-- <div class="slider-area slider-bg">
        <div class="single-slider d-flex align-items-center slider-height2">
          <style>
            .slider-height2 {
              height: 0px !important;
            }
          </style>
          <div class="container">
            <div class="row">
              <div class="col-xl-12">
                <div class="hero-cap text-center pt-50" style="margin-top:100px;">
                <h2>JD Match</h2>
				</div>
				<br>
					<div class="section-tittle text-center mb-100">
					  <span>Find your perfect Job in minutes</span>
					</div>
				  
              </div>
            </div>
          </div>
        </div>
        
      </div> -->
      <!--Hero End -->


	</div>
	<!-- Slider Area End -->
  

	<div class="services-area section-padding10 fix" style="padding-top: 80px;padding-bottom: 150px;">
	  <div class="container">
		<!-- Section Tittle -->
		<div class="row" style="display: flex;">
		
		  <div class="col-lg-10  col-md-6 col-sm-6" style="margin: auto;">
			<div class="services-wrapper mb-50">
			  <div class="single-services" style="padding-top:20px;">
				<div class="services-icon">
				  <span class="flaticon-server"></span>
				</div>
				<div class="services-cap">
          
          <div class="page-wrapper ">
            <div class="wrapper wrapper--w790">
                <div class="card card-5">
                    <div class="card-heading">
                        <h2 class="title">Fill In the Details</h2>
                        <br>
                        <p style="text-align: center; color: white;">Use this template to create your personal Wheel of Life. Fill in the different fields with scores between 0 to 10 . Consider the questions mentioned in the sections while scoring your self, you can ask yourself more questions while doing the scoring. Your wheel of life will be generated automatically. The output may help you to set (life) goals. Reach out to our coaches in case you need further help.</p>
                    </div>
                    
                    <div class="card-body">
                        <form method="POST" action="" >
                          <div class="form-row">
                            <div class="name" style="width: 75%;">CAREER
                              <br>
                              <Ul>
                                <li> 1) How satisfied are you with your job, is it the job that you had imagined or would you rather pursue another career?</li>
                                <br>
                                <li> 2) Does the job bring you happiness and satisfaction?</li>
                                <br>
                                <li> 3) Are your earnings adequate for a comfortable living?</li>
                              </Ul>
                            </div>
                            <div class="value" style="width: 15%; align-self: right ;">
                                <div class="input-group">
                                    <input class="input--style-5" placeholder="(9)" type="number" name="number1" id="number1" required>
                                </div>
                            </div>
                        </div>
                        <br><br>
                        <div class="form-row">
                          <div class="name" style="width: 75%;">FINANCE
                            <br>
                            <ul>
                              <li> 1) Are all incomes enough to meet all basic needs?</li>
                              <br>
                              <li> 2) Are you dependent on loans?</li>
                              <br>
                              <li> 3) Do you worry about money regularly? </li>
                              <br>
                              <li> 4) Are you able to save or enjoy leisure activities?  </li>
                              <br>
                              <li> 5) Is your happiness dependant on how much money you have? </li>
                            </ul>


                          </div>
                          <div class="value" style="width: 15%; align-self: right ;">
                              <div class="input-group">
                                  <input class="input--style-5" placeholder="(9)" type="number" name="number2" id="number2" required>
                              </div>
                          </div>
                      </div>
                      <br><br>
                      <div class="form-row">
                        <div class="name" style="width: 75%;">CAREER GROWTH
                          <br>
                          <ul>
                            <li> 1) Do you have enough time for self development? </li>
                            <br>
                            <li> 2) Are you open to new experiences and eager to learn? </li>
                            <br>
                            <li> 3) Do you get enough opportunities to learn? </li>
                            <br>
                            <li> 4) How satisfied are you with your personal growth? </li>
                          </ul>
                        </div>
                        <div class="value" style="width: 15%; align-self: right ;">
                            <div class="input-group">
                                <input class="input--style-5" placeholder="(9)" type="number" name="number3" id="number3" required>
                            </div>
                        </div>
                    </div>
                    <br><br>
                      <div class="form-row">
                        <div class="name" style="width: 75%;">FAMILY AND FRIENDS
                          <br>
                          <ul>
                            <li> 1) Do you have many people such as friends or family who are supportive, good listeners and trustworthy? </li>
                            <br>
                            <li> 2) How is your social life?</li>
                            <br>
                            <li>3) Do you have a good work-life balance?</li>
                            <br>
                            <li>4) Do you do anything fun during your week?</li>
                            <br>
                            <li>5) Do you feel isolated, lonely or find you have too many people around?</li>
                            <br>
                            <li>6) What could you change for the better about relationships with family members?</li>
                            <br>
                            <li>7) Would you like to be closer to the ones you love?</li>


                          </ul>
                        </div>
                        <div class="value" style="width: 15%; align-self: right ;">
                            <div class="input-group">
                                <input class="input--style-5" placeholder="(9)" type="number" name="number4" id="number4" required>
                            </div>
                        </div> 
                    </div>
                    <br><br>
                    <div class="form-row">
                      <div class="name" style="width: 75%;">HEALTH
                        <br>
                        <ul>
                          <li> 1) How physically and mentally healthy are you and how do you feel?</li>
                          <br>
                          <li> 2) Are you satisfied with your appearance and weight?</li>
                          <br>
                          <li>3) Do you have any physical discomforts or health concerns?</li>
                          <br>
                          <li>4) To what extent are you engaged in sports?</li>
                          <br>
                          <li>5) Is your diet balanced or do you regularly eat junk food?</li>
                          <!-- <br>
                          <li>6) What could you change for the better about relationships with family members?</li>
                          <br>
                          <li>7) Would you like to be closer to the ones you love?</li> -->


                        </ul>
                      </div>
                      <div class="value" style="width: 15%; align-self: right ;">
                          <div class="input-group">
                              <input class="input--style-5" placeholder="(9)" type="number" name="number" id="number" required>
                          </div>
                      </div> 
                  </div>
                    <br><br>
                    <div class="form-row">
                      <div class="name" style="width: 75%;">LOVE AND RELATIONSHIPS
                        <br>
                        <ul>
                          <li> 1) Have you found happiness in love? </li>
                          <br>
                          <li> 2) Do you have a new or a committed partner on whom you can build a relationship?</li>
                          <!-- <br>
                          <li>3) Do you have a good work-life balance?</li>
                          <br>
                          <li>4) Do you do anything fun during your week?</li>
                          <br>
                          <li>5) Do you feel isolated, lonely or find you have too many people around?</li>
                          <br>
                          <li>6) What could you change for the better about relationships with family members?</li>
                          <br>
                          <li>7) Would you like to be closer to the ones you love?</li> -->


                        </ul>
                      </div>
                      <div class="value" style="width: 15%; align-self: right ;">
                          <div class="input-group">
                              <input class="input--style-5" placeholder="(9)" type="number" name="number5" id="number5" required>
                          </div>
                      </div> 
                  </div>
                  <br><br>
                  <div class="form-row">
                    <div class="name" style="width: 75%;">FUN AND RECREATION
                      <br>
                      <ul>
                        <li> 1) Are you enjoying life? </li>
                        <br>
                        <li> 2) Do you practice hobbies or sports?</li>
                        <br>
                        <li>3) How do you spend your free time?</li>
                        <!-- <br>
                        <li>4) Do you do anything fun during your week?</li>
                        <br>
                        <li>5) Do you feel isolated, lonely or find you have too many people around?</li>
                        <br>
                        <li>6) What could you change for the better about relationships with family members?</li>
                        <br>
                        <li>7) Would you like to be closer to the ones you love?</li> -->


                      </ul>
                    </div>
                    <div class="value" style="width: 15%; align-self: right ;">
                        <div class="input-group">
                            <input class="input--style-5" placeholder="(9)" type="number" name="number6" id="number6" required>
                        </div>
                    </div> 
                </div>
                <br><br>
                <div class="form-row">
                  <div class="name" style="width: 75%;">SOCIETY
                    <br>
                    <ul>
                      <li> 1) Do you help others?</li>
                      <br>
                      <li> 2) Do you volunteer your time, money or resources in any way?</li>
                      <br>
                      <li>3) To what extent are you active at (sports) clubs, in the neighbourhood or taking care of family members?</li>
                      <!-- <br>
                      <li>4) Do you do anything fun during your week?</li>
                      <br>
                      <li>5) Do you feel isolated, lonely or find you have too many people around?</li>
                      <br>
                      <li>6) What could you change for the better about relationships with family members?</li>
                      <br>
                      <li>7) Would you like to be closer to the ones you love?</li> -->


                    </ul>
                  </div>
                  <div class="value" style="width: 15%; align-self: right ;">
                      <div class="input-group">
                          <input class="input--style-5" placeholder="(9)" type="number" name="number7" id="number7" required>
                      </div>
                  </div> 
              </div>

                    
                            
    
    
    
                      
                            <div>
                                <button class="btn btn--radius-2 btn--red" type="button" onclick="funcc1()" id="btn-sub" >Submit</button>
                            </div>
                            
                        </form>
                       
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>

        <div id="chrt" style="display: none;">
          <figure class="highcharts-figure" style="width: 1000px; height: 1000px;">
            <div id="container" style="height: 1000px; width: 1000px;"></div>
            
        </figure>
    
        

        </div>
    
        <!-- Jquery JS-->
        <script src="/static/assets/candidate_assets/vendor/jquery/jquery.min.js"></script>
        <!-- Vendor JS-->
        <script src="/static/assets/candidate_assets/vendor/select2/select2.min.js"></script>
        <script src="/static/assets/candidate_assets/vendor/datepicker/moment.min.js"></script>
        <script src="/static/assets/candidate_assets/vendor/datepicker/daterangepicker.js"></script>
    
        <!-- Main JS-->
        <script src="/static/assets/candidate_assets/js/global.js"></script>
        <script>
          function func1(){
            //var x=document.getElementById("chrt");
            var n1=document.getElementById("number1").value;
            var n2=document.getElementById("number2").value;
            var n3=document.getElementById("number3").value;
            var n4=document.getElementById("number4").value;
            var n=document.getElementById("number").value;
            var n5=document.getElementById("number5").value;
            var n6=document.getElementById("number6").value;
            var n7=document.getElementById("number7").value;
            var n8=[parseInt(n1,10),parseInt(n2,10),parseInt(n,10),parseInt(n3,10),parseInt(n4,10),parseInt(n5,10),parseInt(n6,10),parseInt(n7,10)]
            
            return n8;
}

function funcc1(){

  var x1=func1()
  console.log(x1)
  Highcharts.chart('container', {

chart: {
    polar: true,
    type: 'line'
},

accessibility: {
    description: ''
},

title: {
    text: 'Wheel Of Life',
    x: -80
},

pane: {
    size: '80%'
},

xAxis: {
    categories: ['Career', 'Finance', 'Health', 'Personal Growth', 'Family and Freinds', 'Love and Relationships', 'Fun and Recreation', 'Society'],
    tickmarkPlacement: 'on',
    lineWidth: 0
},

yAxis: {
    gridLineInterpolation: 'polygon',
    lineWidth: 0,
    min: 0
},

tooltip: {
    shared: true,
    pointFormat: '<span style="color:{series.color}">{series.name}: <b>{point.y:,.0f}</b><br/>'
},

legend: {
    align: 'right',
    verticalAlign: 'middle',
    layout: 'vertical'
},

series: [{
    name: 'Wheel Of Life',
    data: x1,
    pointPlacement: 'on'}
// }, {
//     name: 'Actual Spending',
//     data: [50000, 39000, 42000, 31000, 26000, 14000],
//     pointPlacement: 'on'
// }],
],

responsive: {
    rules: [{
        condition: {
            maxWidth: 500
        },
        chartOptions: {
            legend: {
                align: 'center',
                verticalAlign: 'bottom',
                layout: 'horizontal'
            },
            pane: {
                size: '70%'
            }
        }
    }]
}

});
document.getElementById('chrt').style['display']="block";

}
            
          

        </script>
        
				  <!-- <h3><a href="/jd">Supported formats .pdf, .docx</a></h3>
				  <p style="padding: 0px; margin: 0px;">
					Click the button below or drop your resume in here.
English resumes only. Max 2MB</p> -->


    

      <br>
      <br>
<!-- <div style="text-align: center;">

    <a href="/jd" class="btn btn-primary-lg" role="button">Next (Please submit the form before pressing next)</a>
    </div> -->

        <style>
          
          .image-upload>input {
 
  text-align: center;
  outline: 0;
  box-shadow: none;
  

}
        </style>
				  <!-- <a href="services.html" class="get-btn"
					><i class="ti-arrow-right"></i> get started</a
				  > -->
				</div>
			  </div>
			  <!-- <div class="services-shape">
				<span>.01</span>
				<img
				  src="/static/assets/img/gallery/shape-services.png"
				  alt=""
				/>
			  </div> -->
			</div>
		  </div>
	

		</div>
	  </div>
	</div>
      <!-- Start Button -->
    </main>
    <footer>
      <!-- Footer Start-->
      <div class="footer-area">
        <div class="container">
          <div class="footer-top footer-padding">
            <div class="row justify-content-between">
              <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                <div class="single-footer-caption mb-50">
                  <div class="single-footer-caption mb-30">
                    <!-- logo -->
                    <div class="footer-logo">
                      <a href="/home"
                        ><img src="../static/assets/img/logo/dataly-resetlogo-05-05.png" style="width:270px; " alt=""
                      /></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                <div class="single-footer-caption mb-50">
                  <div class="footer-tittle">
                    <h4>Our Offerings</h4>
                    <ul>
                        <li><a href="/analyse">Resume Analysis</a></li>
                        <li><a href="/jd">Career Guidance</a></li>
                        <li><a href="#service">Self Development tools</a></li>
                      </ul>
                  </div>
                </div>
              </div>
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <div class="single-footer-caption mb-50">
                  <div class="footer-tittle">
                    <h4>Quick Link</h4>
                    <ul>
                      <li><a href="/contact">Contact Us</a></li>
                      <li><a href="/about">What is Reset your career?</a></li>
                      <li><a href="#">Blogs</a></li>
                      <li><a href="#">Privacy Policy</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <div class="single-footer-caption mb-50">
                  <div class="footer-tittle">
                    <h4>E-mail</h4>
                    <ul>
                      <li><a href="#">amit@peoplelements.in</a></li>
                    </ul>
                    <!--<p>123 East 26th Street, Fifth Floor, New York, NY 10011</p>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-bottom">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col-xl-9 col-lg-9">
                <div class="footer-copy-right">
                  <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>
                      document.write(new Date().getFullYear());
                    </script>
                    All rights reserved <!--| This template is made with-->
                   <!-- <i class="fa fa-heart" aria-hidden="true"></i> by
                    <a href="https://colorlib.com" target="_blank">Colorlib</a>-->
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  </p>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3">
                <!-- Footer Social -->
                <div class="footer-social f-right">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fas fa-globe"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer End-->
    </footer>
    <!-- Scroll Up -->
    <div id="back-top">
      <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->

    <!-- All JS Custom Plugins Link Here here -->
    <script src="../static/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="../static/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="../static/assets/js/popper.min.js"></script>
    <script src="../static/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="../static/assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="../static/assets/js/owl.carousel.min.js"></script>
    <script src="../static/assets/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="../static/assets/js/wow.min.js"></script>
    <script src="../static/assets/js/animated.headline.js"></script>
    <script src="../static/assets/js/jquery.magnific-popup.js"></script>

    <!-- Nice-select, sticky -->
    <script src="../static/assets/js/jquery.nice-select.min.js"></script>
    <script src="../static/assets/js/jquery.sticky.js"></script>

    <!-- contact js -->
    <script src="../static/assets/js/contact.js"></script>
    <script src="../static/assets/js/jquery.form.js"></script>
    <script src="../static/assets/js/jquery.validate.min.js"></script>
    <script src="../static/assets/js/mail-script.js"></script>
    <script src="../static/assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="../static/assets/js/plugins.js"></script>
    <script src="../static/assets/js/main.js"></script>
  </body>
</html>
